* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-image: url("../public/pikachu_artwork.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 100%;
  height: 100px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin: 20px;
}
